# Chapter 1. 파이썬 자료형

### 1. 숫자형(Number)

In [2]:
# 정수형 + 실수형

a=1234
b=-12.34
c= a+b

print(a,b)
print(type(a),type(b))
print(c)
print(type(c))

1234 -12.34
<class 'int'> <class 'float'>
1221.66
<class 'float'>

In [3]:
# 사칙연산 가능
a=3
b=7

print(a+b)
print(a-b)
print(a*b)
print(a**b) #a의 b제곱
print(a/b) #
print(a%b) # 나머지 반환
print(a//b) # 몫 반환

10
-4
21
2187
0.42857142857142855
3
0

### 2. 문자열(String)자료형

In [9]:
# 문자열 자료형

a="hello world"
b="hello pyhton's world"
c='"Hello World" he says'
d= "hello world \nlife is good"  # \n은 다음 줄에 문자열 표시하기

print(a)
print(b)
print(c)
print(d)

hello world
hello pyhton's world
"Hello World" he says
hello world
life is good

In [11]:
# 문자열 더하기
a='python'
b=' '
c='is good'
print(a+b+c)

python is good

In [12]:
#문자열 곱하기

a='Python'
print(a*3)

PythonPythonPython

In [13]:
# 문자열 길이 구하기

a="Life is short, Python is valuable"
print(len(a))

33

In [16]:
# 문자열 인덱싱
a= "Life is short, python is valuable"
b= a[0]
c= a[10]
d=a[-5]

print(b+c+d)

Lou

In [18]:
# 문자열 슬리아싱
a="Life is good, Python is valuable"

print(a[:-1])

Life is good, Python is valuabl

In [20]:
# 문자 개수 세기  / 특정 단어의 개수 세기 가능
a= "apple is so sweat. what is your favorite food?"
a.count("s")

4

In [23]:
# 문자 위치 찾기
a= "apple is so sweat. what is your favorite food?"
a.find("i")

6

In [24]:
# 문자열 삽입  .join()
a= "apple is so sweat. what is your favorite food?"
b= ".".join(a)

# " " 안에 있는 내용을 .join()의 매개변수에 대입시켜준다.
print(b)

a.p.p.l.e. .i.s. .s.o. .s.w.e.a.t... .w.h.a.t. .i.s. .y.o.u.r. .f.a.v.o.r.i.t.e. .f.o.o.d.?

In [25]:
# 소문자와 대문자 바꾸기  .upper() / .lower()
a= "apple is so sweat. what is your favorite food?"

print(a.upper())
print(a.lower())

APPLE IS SO SWEAT. WHAT IS YOUR FAVORITE FOOD?
apple is so sweat. what is your favorite food?

In [31]:
# 공백 지우기   .strip()
a= "             apple is so sweat. what is your favorite food?             "
print(a.lstrip())
print(a.rstrip())
print(a.strip())

apple is so sweat. what is your favorite food?
             apple is so sweat. what is your favorite food?
apple is so sweat. what is your favorite food?

In [32]:
# 문자열 바꾸기  .replace("a","b")
a= "apple is so sweat. what is your favorite food?"
b= a.replace("apple", "Life")
print(b)

Life is so sweat. what is your favorite food?

In [33]:
#문자열 나누기 .split(".")
a= "apple is so sweat. what is your favorite food?"
a.split(" ")

['apple', 'is', 'so', 'sweat.', 'what', 'is', 'your', 'favorite', 'food?']

### (3) List 자료형

In [36]:
# 기본연산
a=[1,2,3,4,5]
b=['a','b','c']
c= a*2 +b*2
d=len(c)
print(c)
print(d)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c', 'a', 'b', 'c']
16

In [38]:
#리스트 인덱싱과 슬라이싱

a=[1,2,3,4,5]
print(a[0])
print(a[1:2])
print(a[:-1])

1
[2]
[1, 2, 3, 4]

In [47]:
# 중첩 리스트 인덱싱과 슬라이싱
a=[1,2,3,4,5,['a','b','c']]

print(a[3])
print(a[5][2])

4
c

In [48]:
# 리스트 요소의 수정과 삭제 del a[]

a=[1,2,3,4,5]

del a[3]

print(a)

[1, 2, 3, 5]

In [51]:
# 리스트 요소 추가 .append()

a=[1,2,3,4,5]

a.append(20)

print(a)

[1, 2, 3, 4, 5, 20]

In [53]:
# 리스트 정렬 / .sort()

a=[12,23,31,4232,52]

a.sort()

print(a)

[12, 23, 31, 52, 4232]

In [54]:
# 리스트 요소의 위치 반환 / .index()

a=[1,2,3,4,5]

b=a.index(3)

print(b)

2

In [55]:
# 리스트 요소 삽입 / .insert('index','value')

a=[1,2,3,4,5]

a.insert(3,10)

print(a)

[1, 2, 3, 10, 4, 5]

In [56]:
# 리스트 요소 제거 /  .remove()

a=[1,2,3,4,5]

a.remove(3)

print(a)

[1, 2, 4, 5]

In [59]:
# 리스트 요소 뽑기 / .pop()

a=[1,2,3,4,5,6,7,8,3,4,1,7,7,89,9]

b=a.pop(5)

print(a)
print(b)

[1, 2, 3, 4, 5, 7, 8, 3, 4, 1, 7, 7, 89, 9]
6

In [61]:
# 리스트 요소 세기 / .count()

a=[1,2,3,4,5,6,7,8,3,4,1,7,7,89,9]

b= a.count(1)

print(3)

3

### (4) Tuple(튜플) 자료형

**튜플과 리스트의 차이점: 소괄호()를 사용하며, 튜플은 요소를 변경할 수 없다.** \
**리스트는 수정,삭제,생성 등이 가능하나 튜플은 불가능**

In [62]:
a=(1,2,3,4,5,6,7,8,3,4,1,7,7,89,9)
a[0]

1

### (5) Dictionary(딕셔너리) 자료형

**키(key)와 값(Value)으로 이루어진 자료형이다.** \
**키를 통해 값을 얻는 구조로 이루어져있다.**  \
**중괄호{ }를 사용한다.**

In [63]:
# 자료구조

a={'name':'Jojiha','sex':'male','age':'16'}

print(a['name'])

Jojiha

In [64]:
# 딕셔너리 키 리스트 만들기/ .keys()
a={'name':'Jojiha','sex':'male','age':'16'}

b=a.keys()
c= list(a.keys())

print(b)
print(c)

dict_keys(['name', 'sex', 'age'])
['name', 'sex', 'age']

In [65]:
# 딕서너리 값 리스트 만들기 .valeus()

a={'name':'Jojiha','sex':'male','age':'16'}

b= a.values()
c= list(a.values())

print(b)
print(c)

dict_values(['Jojiha', 'male', '16'])
['Jojiha', 'male', '16']

In [66]:
# 딕셔너리 키 / 값 리스트 만들기 / .items()

a={'name':'Jojiha','sex':'male','age':'16'}

b= a.items()
c= list(a.items())

print(b)
print(c)

dict_items([('name', 'Jojiha'), ('sex', 'male'), ('age', '16')])
[('name', 'Jojiha'), ('sex', 'male'), ('age', '16')]

In [71]:
# 딕셔너리 키로 값 호출하기 / .get()

a={'name':'Jojiha','sex':'male','age':'16'}

b= a.get('name', 'house')
c= a.get('house')
print(b)
print(c)

Jojiha
None

### (6) 집합 자료형

**집합 자료형은 중복을 허용하지 않으며 순서가 없다는 특징이 있다.** \
**중괄호{}로 표현하며 .set() 함수를 사용해서 만들 수 있다.**

In [72]:
a={1,2,3,4,5}
b=set([1,2,3,4,5])
c=set("Python")

print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'y', 't', 'o', 'P', 'h', 'n'}

In [74]:
# 집합 자료형 교집합 / & or intersection()

a=set([1,2,8,42,43,25])
b=set([1,2,3,4,5])

c=a&b
d= a.intersection(b)

print(c)
print(d)

{1, 2}
{1, 2}

In [76]:
# 집합 자료형 합집합 / | or .union()

a=set([1,2,8,42,43,25])
b=set([1,2,3,4,5])

c= a|b
d= a.union(b)

print(c)
print(d)

{1, 2, 3, 4, 5, 8, 42, 43, 25}
{1, 2, 3, 4, 5, 8, 42, 43, 25}

In [77]:
# 집합 자료형 차집합 /  - or difference()

a=set([1,2,8,42,43,25])
b=set([1,2,3,4,5])

c= a-b
d= a.difference(b)

print(c)
print(d)

{8, 25, 42, 43}
{8, 25, 42, 43}